.box, .box-nesting{
  background-color: #006CFA;
  min-height: 30px;
  border: 1px solid white;
  text-align: center;
  line-height: 30px;
  color: white;
}

.box-nesting{
  background-color: #00E165; 
}

.separator{
  height: 10px;
}